<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <h1 class="bg-blue-500 text-xl py-2 my-3">HELLO Hello!</h1>
    <p1 class="bg-green-300">Yay!</p1>
    <p1 class="bg-green-600">Hooray!</p1> <br>
    <div class="py-12">
        <p1 class="bg-red-400 text-5xl py-5 my-5">Large text 5xl</p1>
    </div>
    
    
</body>
</html>