<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read Red and White</title>
    <link rel="stylesheet" href='/css/style.css'>
    {{! <script src="https://cdn.tailwindcss.com"></script> !}}
</head>


<body class="bg-slate-600">
    <div class="place-content-center">
        <header class="bg-purple-400 display-flex justify-space-between align-center p-6 py-6">
            <h1 class="bg-blue-600 text-8xl text-center font-semibold">Read Red and White</h1>
       
        </header>
        <nav class="bg-green-500 text-5xl text-center py-2 my-4">
                {{#if logged_in}}
                <a href="/">Home</a> |
                <a href="/profile">Profile</a> |
                <button class="no-button" id="logout">Logout</button>
                {{else}}
                <a href="/">Home</a> |
                <a href="/profile">Profile</a> |
                <a href="/login">Login</a>
                {{/if}}
        </nav>
        <main>
            {{{ body }}}
        </main>
    </div>
    {{!-- Render script for logged in users only --}}
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>