<div>
    <div>
        <h2 class="text-4xl text-black py-10">Welcome, {{username}}!</h2>
    </div>
</div>

<div>
    <div>
        <h3>Create a New Book Review</h3>
        {{!-- <p>{{review.title}}</p> --}}
        {{!-- Form for creating / posting a new book review --}}
        <form class="form new-review-form">
            <div class="form-group">
                {{!-- Review content form input --}}
                <label for="review-content">Content:</label>
                <textarea class="form-input" id="review-content" name="review-content"></textarea>
            </div>
            <div class="form-group">
                {{!-- Create Review button --}}
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>
</div>

<script src="/js/profile.js"></script>