<div class="bg-cover bg-center bg-fixed pb-36 pl-32" style="background-image: url('https://mshanken.imgix.net/wso/bolt/2020-04/stayinghome_books040620a_1600.jpg?auto=compress,format,&sharp=5&vib=20&q=70&w=1255');">

    <div class="flex gap-x-44  ">
        <div class="bg-slate-400 box-content h-50 w-60 p-4 border-4">
            <h2 class="text-xl font-semibold">Login</h2>
             {{!-- Form for logging in --}}
            <form class="form login-form">
                <div class="form-group">
                    {{!-- username form input --}}
                    <label for="username-login">Username:</label>
                    <input class="form-input border-4" type="text" id="username-login" />
                </div>
                <div class="form-group">
                    {{!-- password form input --}}
                    <label for="password-login">Password:</label>
                    <input class="form-input border-4" type="text" id="password-login" />
                </div>
                <div class="form-group pt-20 ">
                    {{!-- login button --}}
                 <button class="btn btn-primary bg-blue-500 hover:bg-blue-700 hover:scale-125 border-2 border-black text-white text-2xl font-bold py-2 px-4 rounded-full" type="submit">login</button>
                </div>
            </form>
        </div>

        <div class="bg-slate-400 box-content h-50 w-60 p-4 border-4">
            <h2 class="text-xl font-semibold">Signup</h2>
             {{!-- Form for signing up --}}
            <form class="form signup-form">
                <div class="form-group">
                {{!-- email form input --}}
                    <label for="email-signup">Email:</label><br>
                     <input class="form-input border-4" type="text" id="email-signup">
                </div>
                <div class="form-group">
                    {{!-- username form input --}}
                    <label for="username-signup">Username:</label>
                    <input class="form-input border-4" type="text" id="username-signup" />
                </div>
                <div class="form-group">
                    {{!-- password form input --}}
                    <label for="password-signup">Password:</label>
                    <input class="form-input border-4" type="text" id="password-signup" />
                </div>
                <div class="form-group pt-6">
                     {{!-- signup button --}}
                    <button class="btn btn-primary bg-blue-500 hover:bg-blue-700 hover:scale-125 border-2 border-black text-white text-2xl font-bold py-2 px-4 rounded-full" type="submit">signup</button>
                </div>
            </form>
         </div>
    </div>
</div>

<script src="/js/login.js"></script>