<div>
    <div>
        <h2>Welcome, {{username}}!</h2>
    </div>
</div>

<div>
    <div>
        <h3>Create a New Book Review</h3>
        {{!-- Form for creating / posting a new book review --}}
        <form class="form new-review-form">
            <div class="form-group">
                {{!-- Book Review title form input --}}
                <label for="review-title">Title:</label>
                <input class="Title-input form-input" type="text" id="review-title" name="review-title" />
            </div>
            <div class="form-group">
                {{!-- Review content form input --}}
                <label for="review-content">Content:</label>
                <textarea class="form-input" id="review-content" name="review-content"></textarea>
            </div>
            <div class="form-group">
                {{!-- Create Review button --}}
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>
    {{!-- Render Current Reviews for user --}}
    {{!-- handlebars for loop --}}
    {{#if reviews.length}}
    <div class="review-list">
        {{!-- Built-in each helper iterates over reviews. --}}
        {{!-- Inside the block, you can use this to reference the element being iterated over. --}}
        {{#each reviews as |review|}}
        <div>
            <div>
                <h4><a href="/review/{{review.id}}/edit">{{review.title}}</a></h4>
            </div>
        </div>
        {{/each}}
    </div>
    {{/if}}
</div>

{{!--
<script src="/js/profile.js"></script> --}}